- if current_user.following?(bill)
  %button.btn.btn-success.following{data: { bill_id: bill.url_id, bill_name: bill.bill_id, bill_description: bill.desc }}
    Following
- else
  %button.btn.btn-default.follow{data: { bill_id: bill.url_id, bill_name: bill.bill_id, bill_description: bill.desc }}
    Follow
