<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <p>
    <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-default" do %>
      <span class="fa fa-<%= provider_title(provider).downcase %> sign-in-icon"></span>
      Sign in with <%= provider_title(provider) %>
    <%- end %>
    </p>
  <% end -%>
<% end -%>
