.container
  .row

    = link_to 'Create new alert', new_alert_path, class: 'btn btn-primary'

    %h2 Your alerts

    %table.table.alerts
      %tr
        %th Name
        %th Description
        %th Last sent

      - current_user.alerts.by_name.each do |alert|
        %tr
          %td.name
            = link_to alert.name, alert
          %td.description
            = alert.description
          %td.last_sent
            = alert.last_sent_at

