.container
  .row

    %h2
      Alert:&nbsp;
      = link_to @alert.name.html_safe, edit_alert_path(@alert)

    %dl
      %dt Description
      %dd
        = @alert.description.html_safe

      %dt Query
      %dd
        = @alert.query.html_safe
