%footer#footer
  .container
    .row
      .col-xs-6
        %span.footer-link
          = link_to 'Legislative Alerts', 'https://github.com/legalerts/'
        %span.footer-link
          = link_to 'OpenSearch', 'https://opensearch.org/'
      .col-xs-6.text-right
        %small.copyright
          Copyright &copy; #{ Date.today.year }
